


<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-danger" href="#/">View All Templates</a>
    <br>
    <br>
  </div>
  <div class="template-details">
    <div class="col-md-4">
      <img class="img-responsive" ng-src={{mainImage}}>
      <div class="row">
        <div class="col-md-12" >
          <img src={{image.name}} class="img-thumbnail gallery-images" ng-click="setImage(image);"
          ng-repeat="image in template.images">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>{{template.name}}</h3>
      <p>{{template.description}}</p>
      <p>Type: {{template.type}}</p>
      <h4>{{template.price | currency}}</h4>
      <br>
      <div class="row">
          <div class="col-md-12">
            <ngcart-addtocart id="{{ template.id }}" 
                              name="{{ template.name }}" 
                              price="{{ template.price }}" 
                              quantity="1" 
                              quantity-max="30" 
                              data="template">ADD TO CART</ngcart-addtocart>
          </div>
          <br>
          <br>
        </div>
      </div>
  </div>
</div>
